@font-face {
	font-family: Romana;
	src: url(../fonts/Romana\ BT\ Bold.ttf);
  }

::selection {
	background: lightgray;
	color: black;
}

form div label {
	padding-top: 3px;
	padding-left: 7px;
	position: absolute;
	font-size: 12px;
}

.contact-entry {
	padding: 0;
}

.contact-input {
	width: 100%;
	font-size: 20px;
	height: 52px;
	outline: 2px solid black;
	border: none;
	outline-offset: 0;
	padding-top: 15px;
	padding-left: 7px;
	padding-right: 7px;
}

.contact-input:focus {
	background-color: #FBE674;
}

.contact-content {
	height: 213px;
	resize: none;
	padding-top: 20px;
}

.contract-submit {
	border: 2px solid black;
	box-shadow: 0px 2px;
	background-color: white;
	margin-top: 16px;
	padding: 8px 32px;
}

body {
	overflow-x: hidden;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

mark {
	background-color: blue;
	color: white;
}

section {
	padding: 160px 0px;
}

@media only screen and (max-width: 1024px) {
	section {
		padding: 80px 0px;
	}
}

hr {
	background-color: black;
	height: 2px;
}

br {
	height: 40px;
}

nav {
	height: 50px;
}

a:hover {
	color: blue;
	text-decoration: none;
}

header:not(.hero-header) {
	text-align: center;
}

.hero-header {
	padding: 80px 0px;
	z-index: 2;
	position: relative;
}

.hero-img {
	position: absolute;
	background-image: url("../img/halftoneherosm.png");
	background-size: cover;
	z-index: 1;
	height: 384px;
	width: 512px;
	right: 128px;
	top: 72px;
}

@media only screen and (max-width: 1024px) {
	.hero-header {
		padding: 40px 0px;
	}
	.hero-img {
		position: initial;
		z-index: 0;
		height: 224px;
		width: 320px;
	}
  }

.intro {
	z-index: 1;
}

footer {
	background-color: white;
	height: 50px;
	width: 100%;
	bottom: 0;
	border-top: 2px solid black;
	/*border-bottom: 1px solid black;*/
	display: flex;
	align-items: center;
	
}

p.quote {
	font-family:
    "SFMono-Regular",
    Consolas,
    "Liberation Mono",
    Menlo,
    Courier,
    monospace;
}

header {
	padding-bottom: 20px;
}

#hero {
	background-color: black;
	color: white;
}

h1 {
	font-size: 72px;
	font-weight: 800;
}

@media only screen and (max-width: 600px) {
    h1 {
    	font-size: 48px;
    }
}

h2 {
	font-size: 48px;
	font-weight: 800;
}

.box {
	height: 50px;
	border: 1px solid black;
}

.stroke {
	position: relative;
	z-index: 0;
}

.stroke:after {
	content: attr(data-text);
    position: absolute;
    -webkit-text-stroke: 5px white;
    left: 0;
    z-index: -1;
    font-size: 1em;
}

.link-button {
	top: 50px;
	border: 1px solid black;
	margin-top: 50px;
	padding: 15px;
	font-weight: 400;
}

.link-button:hover {
	text-decoration: underline;
	background-color: lightgray;
	color: black;
}

.footer-lists {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.footer-item {
	width: 240px;
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.nav-links li {
	padding-left: 24px;
}

.project-img {
	border: 1px solid lightgray;
	border-radius: 2px;
	overflow: hidden;
}

.project-img:hover {
	opacity: .5;
}

.project-description {
	padding: 0px 40px;
}

h1, h2 {
	font-family: "Romana";
}

@media only screen and (max-width: 768px) {
	.hide-sm {
		display: none;
	}
}