::selection {
	background: rgba(0,0,255,0.99);
	color: white;
}

mark {
	background-color: blue;
	color: white;
}

section {
	padding: 160px 0px;
}

hr {
	background-color: black;
}

br {
	height: 40px;
}

nav {
	height: 50px;
}

a {
	color: blue;

}

a:hover {
	color: blue;
	text-decoration: underline;
}

header:not(.hero-header) {
	text-align: center;
}

footer {
	background-color: white;
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	display: flex;
	align-items: center;
	
}

p {
	font-family: adobe garamond pro;
}

.link-footer-button {
	border: 1px solid black;
	padding: 15px;
}

.link-footer-social {
	padding: 15px 16px;
	border-left: none;
}

.link-footer-social img {
	height: 16px;
	width: 16px;
}

.link-footer-social:first-child {
	
}


.link-footer-button:hover {
	background-color: lightgray;
	text-decoration: underline;
	color: black;
}

.link-button {
	top: 50px;
	border: 1px solid black;
	color: black;
	margin-top: 50px;
	padding: 10px;
	font-weight: 400;
}

.link-button:hover {
	text-decoration: underline;
	background-color: lightgray;
	color: black;
}

.footer-lists {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-lists ul li:first-child a {
	border-left: 1px solid black;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.nav-links li {
	padding-left: 24px;
}
